<nav class="navbaro">
<%= link_to "Reviens à la maison", root_path, class: "linko" %>
<%= link_to "Les cocktails", root_path, class: "linko" %>
</nav>
<div class="container">
  <div class="container-new">
    <div class="col-md-9 test">
      <h2>Ton cocktail</h2>

      <%= simple_form_for [ @cocktail ] do |f| %>
      <%= f.input :name, label: false %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Cocktail !", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>