<nav class="navbaro">
<%= link_to "Reviens à la maison", root_path, class: "linko" %>
<%= link_to @cocktail.name, cocktail_path(@cocktail), class: "linko" %>
</nav>
<div class="container">
  <div class="container-new">
    <div class="col-md-9 test">
      <h2>Dose moi ça</h2>

      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "Mets la dose", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>